.AutocompleteContainer {
    width: 60%;
    margin: 0 auto;
    background: white;
    align-self: flex-end;
    position: absolute;
    /* top: 0; */ 
}

.Autocomplete {
    border-top: 1px black;
    border-bottom: 1px black;
    padding: 1rem 0.5rem;
    height: fit-content;

}

.Autocomplete:hover {
    background: wheat;
}